# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_ZBOARD_LEFT

config ZMK_KEYBOARD_NAME
	default "Zboard"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_ZBOARD_LEFT || SHIELD_ZBOARD_RIGHT

config ZMK_SPLIT
	default y

endif